*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    height: 55px;
    width: 100%;
    background-color: black;
    position: sticky;
    top:0;
    z-index: 10;
}
.section-1{
    height: 110px;
    width: 95%;
    margin: auto;

}
.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.paragraph{
    width: 275px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content button{
    padding: 15px 75px;
    background-color: white;
    border: 1px solid black;
}
.hiroshi{
    width: 500px;
}
.both{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.paragraph{
    padding: 10px 39px 0px 0px;
}
.section-2{
    
    width: 94%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  

}
.content-2{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left:18px;
    margin-bottom: 60px;

}
.content-2 div {
    flex: 1 1 370px;          
}
.content-2 img {
    max-width: 95%;         
    height: auto;             
    
    align-items:center ;
    justify-content: center;
    margin-top: 20px;       
    object-fit: cover; 
    padding-left: 20px;   
    
  }
  .content-2 p {
    margin-top: 20px;
    padding-left: 20px;
    
  }
.section-3{
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #F4F3EF       ;
    padding: 100px 0px;
  

}
.content-3{
    display: flex;
    width: 50%;
    flex-direction: column;
    
    
}
.content-3 a{
    text-decoration: none;
    color: black;
}

@media (max-width: 1024px) {
    
    .hiroshi  {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 45px;
      
    }
    .button{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .paragraph{text-align: center;padding: 0;width: 100%;}
    .both{
        width: 100%;
    }
    .section-2{
       margin-top:110px ;
    }
    .content-2 p {
    padding-left: 18px;
    margin-bottom: 40px;
    
    }
    .content-2{
        margin-bottom: 0px;
        padding-left: 18px;
    }
}
    
  @media (max-width: 826px) {
        .content-2 img {
            padding: 0;
        }
        .content-2 p {
            padding-left: 0px;
            }
  }