* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  scroll-behavior: smooth;
}
header {
  height: 55px;
  width: 100%;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 10;
}
.parent-container {
  display: none;
  overflow-x: hidden;
}
.container {
  width: 100%;
  height: 91vh;
  position: relative;
  overflow: hidden;
  
}
.carousel {
  width: 100%;
  height: 100%;
  display: flex;
}
.carousel-items {
  min-width: 100%;
  height: 100%;
}
.carousel-items img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.text-transition{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-content{
  font-size: 50px;
  color: red;
  transform: translateX(80%);
  opacity: 0;
}
.logo-content.content-fade{
  opacity: 1;
  animation: bounce 5s ease-out;
}
.section-1 {
  width: 95%;
  margin: auto;
}
.con2-imgdiv {
  overflow-x: hidden;
}
.content {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  
}
.paragraph {
  width: 330px;
  height: 75px;
  display: flex;
  align-items: start;
  justify-content: center;
  line-height: 20px;
  padding: 10px 40px 0px 0px;
  font-size: 15px;
}

.both a{
  border: 1px solid black;
  padding: 15px 55px;
  text-decoration: none;
  color: black;
  position: relative;
  transition: color 0.5 ease-in;
}
.both a::after{
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: black;
  left: 0;
  top: 0;
  transform-origin: right;
  z-index: -1;
  transform: scaleX(0);
  transition: transform .8s cubic-bezier(.22,.61,.36,1);
}
.both a:hover:after{
  transform: scaleX(1);
  transform-origin: left;
}
.both a:hover{
  color: white;
}

.hiroshi {
  width: 500px;
}
.both {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.section-2 {
  width: 94%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 50px;
}
.content-2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 18px;
  margin-bottom: 60px;
  gap: 20px;
}
.content-2 div {
  flex: 1 1 370px;
}
.content-2 img {
  max-width: 95%;
  height: auto;
  transform: translateX(-100%);
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  object-fit: cover;
  padding-left: 20px;
  transition: transform ease-in 1s;
  opacity: 0;
}
.content-2 a {
  text-decoration: none;
  color: black;
}
.content-2 div.fade img {
  transform: translateX(0);
  opacity: 1;
}
.content-2 div.fade p {
  transform: translateX(0);
  opacity: 1;
}
.content-2 p {
  margin-top: 20px;
  padding-left: 20px;
  transform: translateX(10%);
  transition: transform ease-in-out 1s;
  opacity: 0;
}
.section-3 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #f4f3ef;
  padding: 100px 0px;
}
.content-3 {
  display: flex;
  width: 50%;
  flex-direction: column;
  padding-left: 100px;
  padding-bottom: 100px;
  justify-content: start;
  flex: 1 1 340px;
}
.content-3 ul {
  text-decoration: dotted;
  padding-left: 10px;
  font-size: 12px;
  letter-spacing: 3px;
}

.content-3a {
  width: 50%;
  object-fit: cover;
  flex: 1 1 340px;
  padding-left: 30px;
}
.content-3a img {
  object-fit: contain;
  width: 100%;
  max-height: 650px;
}
.content-3 a {
  text-decoration: none;
  color: black;
  font-size: 10px;
  font-size: 12px;
  letter-spacing: 3px;
}
.carousel-container {
  width: 90%;
  overflow: hidden;
  position: relative;
  min-height: 400px;
  padding-bottom: 20px;
}

.carousel-wrapper {
  display: flex;
  transition: transform 1.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
  transition: opacity 1s ease-in-out;
}

.samebutton {
  position: absolute;
  top: 100%;
  transform: translateY(-60%);
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  border: none;
  height: 40px;
  width: 40px;
  background-color: transparent;
}
.next-btn {
  left: 85%;
}

.prev-btn {
  right: 11%;
}
.para-3 {
  width: 90%;
  font-size: 38px;
  margin: 50px 0px;
}
.section-4 {
  background-image: url(./images/blog-s13.jpg);
  width: 100%;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
}
.content-4 {
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
  padding: 50px;
  margin-left: 30px;
}
.content-4 h3 {
  font-weight: normal;
  padding-top: 140px;
  color: white;
  word-spacing: 3px;
  font-size: 32px;
}
.section-5 {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  height: 80px;
}
.section-6 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #f4f3ef;
  padding: 100px 0px;
}
.content-6 {
  display: flex;
  width: 50%;
  flex-direction: column;
  padding-left: 100px;
  padding-bottom: 100px;
  justify-content: start;
  flex: 1 1 340px;
}
.content-6 ul {
  text-decoration: dotted;
  padding-left: 10px;
  font-size: 12px;
  letter-spacing: 3px;
}

.content-6 a {
  text-decoration: none;
  color: black;
  font-size: 10px;
  font-size: 12px;
  letter-spacing: 3px;
}
.para-6 {
  width: 90%;
  font-size: 38px;
  margin: 50px 0px;
}
.content-6a {
  width: 50%;
  flex: 1 1 340px;
  padding-left: 30px;
}
.mini-carousel-container {
  width: 90%;
  overflow: hidden;
  position: relative;
  min-height: 400px;
  padding-bottom: 20px;
}

.mini-carousel-wrapper {
  display: flex;
  transition: transform 1.5s ease-in-out;
  
}

.mini-carousel-item {
  min-width: 100%;
  box-sizing: border-box;
  transition: opacity 1s ease-in-out;
}

.mini-samebutton {
  position: absolute;
  top: 100%;
  transform: translateY(-60%);
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  border: none;
  height: 40px;
  width: 40px;
  background-color: transparent;
}
.content-6a img {
  object-fit: contain;
  width: 100%;
  max-height: 650px;
}
.mini-next-btn {
  left: 85%;
}

.mini-prev-btn {
  right: 11%;
}
.section-7 {
  overflow-x: hidden;
  padding-top: 20px;
}
.content-7 {
  margin: 100px 0px;
  padding: 5px;
}
.content-7 p {
  font-size: 38px;
  padding: 10px 100px;
}
.scroll-container {
  display: flex;
  flex-direction: row;
  width: max-content;
  flex-wrap: nowrap;
  transition: transform ease-in-out ;
  margin-bottom: 5px;

}
.scroll-container2 {
  display: flex;
  flex-direction: row;
  width: max-content;
  flex-wrap: nowrap;
  transition: transform ease-in-out ;
  margin: 5px;
}
.orginal {
  height: 302px;
  width: 2170px;
  background-image: url(./images/landing-marquee-1.jpg);
  background-size: cover;
}
.copy {
  height: 302px;
  width: 2170px;
  background-image: url(./images/landing-marquee-1.jpg);
  background-size: cover;
}
.orginal2 {
  height: 302px;
  width: 2170px;
  background-image: url(./images/landing-marquee-2.jpg);
  background-size: cover;
  position: relative;
  right:600px;
}
.copy2 {
  height: 302px;
  width: 2170px;
  background-image: url(./images/landing-marquee-2.jpg);
  background-size: cover;
  position: relative;
  right: 600px;
}
.copy3 {
  height: 302px;
  width: 2170px;
  background-image: url(./images/landing-marquee-2.jpg);
  background-size: cover;
  position: relative;
  right: 500px;
}
.section-8{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #f4f3ef;
  padding: 100px 0px;
  transition: background .5s ease;
}
.content-8{
  display: flex;
  width: 50%;
  flex-direction: column;
  padding-left: 100px;
  padding-bottom: 100px;
  justify-content: start;
  flex: 1 1 540px;
}
.content-8 ul{
  text-decoration: dotted;
  padding-left: 10px;
  font-size: 12px;
  letter-spacing: 3px;
}

.content-8 a{
  text-decoration: none;
  color: black;
  font-size: 10px;
  font-size: 12px;
  letter-spacing: 3px;
}
.para-8{
  width: 90%;
  font-size: 38px;
  margin: 50px 0px;
}
.content-8a{
  width: 50%;
  flex: 1 1 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-fade-container{
  width: 80%;
  min-height: 80VH;
  
}
.fade-container{
  position: relative;
  max-width:80%;
  min-width: 80%;
  min-height: 60vh;
}
.fading-images{
  height: 100%;
  width: 100%;
  object-fit: fill;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 20px;
  opacity: 0;
  transition: opacity 5 ease-out;
} 
.showing{
  animation: fadeAnimation 5s ease-in-out;
}
.fade-container img:first-child{
  z-index: 3;
  opacity: 1;
  height: 100%;
  width: 100%;
  object-fit: fill;
  position: absolute;
  top: 0;
  right: 0;

}
.section-9{
  width: 100%;
  background-color: black;
  padding: 40px;
}
.content-9{
  width: 50%;
  padding-left: 20px;
}
.content-9 p{
  font-size: 15px;
  color: white;
  line-height:25px;
}
.purchase{
  width: 40%;
}
.purchase button{
  padding: 15px 80px;
  background-color: transparent;
  border: 1px solid black;
}

@media (max-width: 1300px) {
  .section-1 {
    padding: 0;
  }

  .hiroshi {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }
  .button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .paragraph {
    text-align: center;
    padding: 0;
    width: 100%;
  }
  .both {
    width: 100%;
  }
  .section-2 {
    margin-top: 80px;
  }
  .content-2 p {
    padding-left: 18px;
    margin-bottom: 40px;
  }
  .content-2 {
    margin-bottom: 0px;
    padding-left: 18px;
  }
  .section-2 {
    margin: 0;
    width: 100%;
  }
  .content-8a{
    width: 60%;
  }
  .main-fade-container{
    min-height: 50VH;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fade-container{
    min-width: 70%;
    min-height: 50vh;
  }
}

@media (max-width: 826px) {
  .section-1 {
    padding: 0;
  }
  .section-2 {
    margin: 0;
    width: 100%;
  }
  .section-3 {
    padding: 0px;
  }
  .section-6 {
    padding: 0px;
  }
  .para-3 p {
    font-size: 0.9em;
  }
  .content-2 img {
    padding: 0;
  }
  .content-2 p {
    padding: 0px;
  }
  .carousel-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .para-3 {
    margin: 30px 0px;
  }
  .content-3 {
    padding: 30px;
  }
  .content-3a {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .content-4 h3 {
    font-size: 30px;
    padding: 0px;
    font-weight: lighter;
    color: white;
    word-spacing: 3px;
  }
  .content-4 {
    width: 100%;
    margin: 0;
  }
  .content-6a {
    width: 100%;
    padding: 10px;
    display: flex;
    align-self:center;
    justify-content: center;
  }
  .content-6 {
    padding: 30px;
  }
  .samebutton {
    top: 80%;
    transform: translateY(-10px);
  }
  .next-btn {
    left: 90%;
  }

  .prev-btn {
    right: 5%;
  }
  .mini-carousel-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
.mini-samebutton {
  transform: translateY(-90px);
}

  .para-6 {
    margin: 30px 0px;
  }
  .section-7{
    padding: 0;
    overflow-y: hidden;
  }
  .orginal {
    height: 151px;
    width: 1085px;
    background-image: url(./images/landing-marquee-1.jpg);
    background-size: cover;
  }
  .orginal2 {
    height: 151px;
    width: 1085px;
    background-image: url(./images/landing-marquee-2.jpg);
    background-size: cover;
    position: relative;
    right: 150px;
  }
  .copy {
    height: 151x;
    width: 1085px;
    background-image: url(./images/landing-marquee-1.jpg);
    background-size: cover;
  }
  .orginal2 {
    height: 151px;
    width: 1085px;
    background-image: url(./images/landing-marquee-2.jpg);
    background-size: cover;
    position: relative;
    right: 300px;
  }
  .copy2 {
    height: 151px;
    width: 1085px;
    background-image: url(./images/landing-marquee-2.jpg);
    background-size: cover;
    position: relative;
    right: 300px;
  }
  .copy3 {
    height: 302px;
    width: 2170px;
    background-image: url(./images/landing-marquee-2.jpg);
    background-size: cover;
    position: relative;
    right: 300px;
  }
  .scroll-container{
    height: 151px;
  }
  .scroll-container2{
    height: 151px;

  }
  .content-7 p{
    padding: 10px 0px;
    font-size: 35px;
    text-align: center;
  }
  .content-8a{
    width: 100%;
  }
  .main-fade-container{
    min-height: 50VH;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fade-container{
    min-width: 90%;
    min-height: 50vh;
  }
  .content-8{
    padding: 30px;
  }
  .content-9{
    width: 100%;
    padding:10px;
  }
}



/* animations */

@keyframes bounce {
  0% {
    transform: translatex(100);
    opacity: 0;
  }
 
  50%{
    transform: translateX(0%);
    opacity: 1;
  } 
  100%{
    transform: translateX(0);
    opacity: 0;
  }
}
@keyframes fadeAnimation{
  0% {
    opacity: 0;
  }
 
  50%{
    opacity: 1;
  } 
  100%{
    opacity: 0;
  }
}