* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif; 
  }
  .section-1{
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
  }
  .section-1 .container{
     width: 100%;
     height: 100%;
     position: relative;
  }
  .section-1 .container .carousel{
    height: 100vh;
    position: relative;
  }
  .section-1 .container .carousel .wrapper{

    display: flex;
    width: 100%;
    height: 100%;
    position: relative;

  }
  .section-1 .container .carousel .wrapper .carousel-item{
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    position: relative;
  }
  .section-1 .container .carousel .wrapper .carousel-item .image-container{
    height: 100%;
    width: 100%;
  }
  .section-1 .container .carousel .wrapper .carousel-item .image-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .section-1 .container .description{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    padding: 4.6% 6.6%;
    background-color: rgba(0, 0, 0, .12);
  }
  .section-1 .container .description .heading{
    transform: translateX(50px);
    opacity: 1;
    transition: opacity .6s .6s, transform .8s cubic-bezier(.22,.61,.36,1) .6s;
  }
  .section-1 .container .carousel .wrapper .carousel-item.active .description .heading{
    transform: translateX(0);
    opacity: 1
  }
  .section-1 .container .description .heading h4{
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.20833em;
    font-weight: 400;

  } 
  .section-1 .container .description .heading h4 a{
    text-decoration: none;
    color: white;
  }
  .section-1 .container .description .text{
    margin: 10px 0px;
    transform: translateX(50px);
    opacity: 1;
    transition: opacity .6s .6s, transform .8s cubic-bezier(.22,.61,.36,1) .6s;
  }
  .section-1 .container .carousel .wrapper .carousel-item.active .text{
    transform: translateX(0);
    opacity: 1
  }
  .section-1 .container .description .text a{
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.20833em;
    text-decoration: none;
    color: white;
    padding-left:5px ;
  }
  

  .section-1 .container .description .text span{
    position: relative;
    color: white;
  }
  .section-1 .container .description .text span::after{
    content: '';
    position: absolute;
    height: 15px;
    background-color: white;
    width: 1px;
  }
  .section-1 .container .carousel .carousel-bullets{
    position: absolute !important;
    bottom: 45px;
    left: 38px;
    height: auto;
    width: 10%;
display: flex;
  }
  .section-1 .container .carousel .carousel-bullets span{
    position: relative;
    height: 11px;
    width: 52px;
    padding: 5px;
    background-color: transparent;
    opacity: 1;
    transition: width .2s ease-out;
    cursor: pointer !important;
    margin: 0 5px !important;
    display: flex;
  }
  .section-1 .container .carousel .carousel-bullets span::before{
    content: '';
    position: absolute;
    left: 0;
    height: 1px;
    width: 0;
    top: 5px;
    background-color:white;
    
}
.section-1 .container .carousel .carousel-bullets span::after{
  content: '';
    position: absolute;
    left: 0;
    height: 1px;
    width: 100%;
    top: 5px;
    background-color: white;
    opacity: .5;
} 
.section-1 .container .carousel .carousel-bullets span.active{
  width: 64px;
}
.section-1 .container .carousel .carousel-bullets span.active:before{
  width: 100%;
  transition-duration: 3000ms;
}




/* section-2 */
.section-2{
  background-image: url(./img/h1-img-03.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 160px 0px 33px 0px;
  padding: 0% 5% 0% 5%;
  
}
.section-2 .container{
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 60px;
  
}
.section-2 .container .left{
  width: 60%;
  padding-bottom: 100px;
}

.section-2 .container .left .dot-content{
  display: flex;
  align-items: flex-start;
}
.section-2 .container .left .dot-content .dot-container span{
  height: 4px;
  width: 4px;
  border-radius: 50%;
  line-height: 4px;
  display: inline-block;
  background-color: #000;
}
.section-2 .container .left .dot-content .dot-para h6{
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  color: #000;
  font-size: 12px;
  line-height: 1.16667em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .2em;
  margin: 25px 0;
}
.section-2 .container .left .dot-content .dot-para h6 span{
  padding-left: 5px;
}
.section-2 .container .left .main-wrapper .main-contents .contents h2{
  font-family: "DM Sans", sans-serif;
      font-weight: 400;
      color: #000;
      font-size: 43px;
      line-height: 1.2em;
      font-weight: 400;
      margin: 25px 0;
      -ms-word-wrap: break-word;
      word-wrap: break-word;
  } 

.section-2 .container .right{
  width: 40%;
}
.section-2 .container .right .lazy-image{
  width: 100%;
  height: 100%;
}
.section-2 .container .right .lazy-image .wrapper{
  width: 100%;
  height: 100%;
}

.section-2-image-wrapper {
  width: 1px;
  height: 100%;
  overflow: hidden;
  opacity: 0;
}
.section-2-image-wrapper.active{
  width: 100%;
  height: 100%;
  opacity: 1;
  transition:opacity 0s, width 2s;
}
.section-2-image-wrapper-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(./img/h1-img-01.jpg);
}



/* section-3 */
.section-3{
  margin-top: 66px;
    margin-bottom: 140px;
    padding: 0% 5% 0% 5%;
    box-sizing: border-box;
    overflow: hidden;
}
.section-3 .container{
  display: flex;
}
.section-3 .container .link-wrapper{
  width: 33%; 
}
.section-3 .container .link-items .link{
  width: 100%;
}

.section-3 .container .link-items .link h4{

font-family: "DM Sans", sans-serif;
font-weight: 400;
color: #000;
font-size: 24px;
line-height: 1.20833em;
font-weight: 400;
margin-bottom: 20px;
}
.section-3 .container .link-items .link h4 a{
  color: black;
}
.section-3 .container .description-wrapper .contents-main{
  padding-right: 120px;
}
.section-3 .container .description-wrapper h4{
  font-family: "DM Sans", sans-serif;
  color: #000;
  font-size: 24px;
  line-height: 1.20833em;
  font-weight: 400;
}
.section-3 .container .description-wrapper{
  width: 33%;
}
.section-3 .container .description-wrapper p{
  margin: 25px 0 0;
}





/* section-4 */
.section-4{
  padding: 120px 0px 120px 0px;
  background-color: black;
}
.section-4 .container{
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.section-4 .container .main{
  width: 100%;
  box-sizing: border-box;
  display: flex;
  padding: 0% 0% 0% 5.3%;
}
.section-4 .container .main .info-container{
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.section-4 .container .main .wrapper-main{
  width: 75%;
  overflow: hidden;
}
.section-4 .container .main .info-container span{

font-size: 10px;
    line-height: 1.16667em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-family: "DM Sans", sans-serif;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    color: white;
}
.section-4 .container .main .info-container span:before{
  content: '';
  height: 5px;
  width: 4px;
  background-color: white;
  border-radius: 50%;
  margin-right: 5px;
}
.section-4 .container .main .wrapper-main .wrapper-main{
  width: 100%;
  display: flex;
  height: 100%;
}
.section-4 .container .main .wrapper-main .wrapper-2{
  width: 100%;
  display: flex;
  height: 100%;
}

.section-4 .container .main .wrapper-main .wrapper-2 .carousel-item{
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.section-4 .container .main .wrapper-main .wrapper-2 .carousel-item .image-container{
  width: 100%;
  height: 100%;
  overflow: hidden;
} 

.section-4 .container .main .wrapper-main .wrapper .image-container img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.section-4 .container .main .info-container .bottom{
  position: relative;
}
.section-4 .container .main .info-container .bottom article{
  position: absolute;
 
opacity: 0;
transition: opacity .2s ease-out;
}
.section-4 .container .main .info-container .bottom article.active{
  opacity: 1;
  bottom: 0;
} 


.section-4 .container .main .info-container .bottom article .contents{

box-sizing: border-box;
} 
.section-4 .container .main .info-container .bottom article .contents .heading{
  transform: translateX(-50px);
  opacity: 0;
  transition: opacity .8s, transform 1s cubic-bezier(.22,.61,.36,1);
}
.section-4 .container .main .info-container .bottom article.active .contents .heading{
  transform: translateX(0px);
  opacity: 1;
}
.section-4 .container .main .info-container .bottom article .contents .heading h4{
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  color:white;
  font-size: 24px;
  line-height: 1.20833em;
  font-weight: 400;
}

.section-4 .container .main .info-container .bottom article .contents .sub-heading{
  transform: translateX(50px);
  opacity: 0;
  transition: opacity .8s, transform 1s cubic-bezier(.22,.61,.36,1);
}
.section-4 .container .main .info-container .bottom article.active .contents .sub-heading{
  transform: translateX(0px);
  opacity: 1;
}
.section-4 .container .main .info-container .bottom article .contents .sub-heading a{
  color: white;
  text-decoration: none;
  transition: color .2s ease-out;
  cursor: pointer;
}


/* section-5 */

.section-5{
  margin: 120px 0px 120px 0px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.section-5 .container{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.section-5 .container .separator{
  width: 100%;
  border-bottom: 1px solid #e3e3e3;

}
.section-5 .container .main-contents{
  width: 100%;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}
.section-5 .container .main-contents .contents{
  height: 66vh;
  display: flex;
}
.section-5 .container .main-contents .contents .tabs{
display: flex;
height: 100%;
width: 248px;
overflow: hidden;
position: relative;
transition: .8s ease;
margin-left:10px;
}
.section-5 .container .main-contents .contents .tabs::before{
  content: "";
  display: block;
  width: 29px;
  height: 1px;
  position: absolute;
  right: 23px;
  top: 22px;
  transition: clip-path .35s, opacity .35s, -webkit-clip-path .35s;
 background-color: black;
}
.section-5 .container .main-contents .contents .tabs::after{
  content: "";
  display: block;
  width: 1px;
  height: 11px;
  position: absolute;
  right: 36px;
  top: 17px;
  background-color: #000;
  opacity: 1;
}
.section-5 .container .main-contents .contents .tabs.active:after{
  content: "";
  display: block;
  width: 1px;
  height: 11px;
  position: absolute;
  right: 36px;
  top: 17px;
  background-color: #000;
  opacity: 0;
}

.section-5 .container .main-contents .contents .tabs.active{
  width: 1149px;
}
.section-5 .container .main-contents .contents .tabs .tabs-wrapper{
  width: 901px;
  box-sizing: border-box;
  position: relative;
  height: 100%;
}
.section-5 .container .main-contents .contents .tabs .tabs-wrapper .title{
  display: flex;
  width: 100%;
  max-width: 248px;
  justify-content: flex-start;
  align-items: flex-end;
  border-left: 1px solid #e7e7da;
  height: 100%;
  position: absolute;
  bottom: 0;
  z-index: 50;
  cursor: pointer;
}
.section-5 .container .main-contents .contents .tabs .tabs-wrapper .title:after{
  content: '';
  position: absolute;
  top: 0;
  left: -1px;
  width: 1px;
  height: 100%;
  background-color: #000;
  transition: transform .5s ease-out;
  transform-origin: bottom;
  transform:scaleY(0);
}

.section-5 .container .main-contents .contents .tabs.active .tabs-wrapper .title:after{
  transform:scaleY(1);
}

.section-5 .container .main-contents .contents .tabs .tabs-wrapper .title span{
  font-size: 52px;
    font-weight: 300;
    line-height: 42px;
    font-family: "DM Sans", sans-serif;
    color: #000;
    display: flex;
    transform: rotate(270deg);
    transform-origin: 0 5%;
    white-space: nowrap;
    align-items: center;
    position: relative;
    left: 55px;
    bottom: -45px;
}

.section-5 .container .main-contents .contents .tabs .tabs-contents{
  position: relative;
  height: 100%;
  display: flex;
  justify-content: stretch;
  transition: .8s ease;
  width: 901px;
  right: -248px;
}
.section-5 .container .main-contents .contents .tabs .tabs-wrapper .tabs-contents .tabs-image{
  display: flex;
  max-width: 40%;
  flex: 0 1 auto;
  box-sizing: border-box;
}
.section-5 .container .main-contents .contents .tabs .tabs-wrapper .tabs-contents .tabs-image img{
  height: auto;
    width: fit-content;
}

.section-5 .container .main-contents .contents .tabs .tabs-wrapper .tabs-contents .tabs-inner-content{
  position: relative;
    display: flex;
    max-width: 60%;
    z-index: 10;
    flex-direction: column;
    justify-content: flex-end;
    padding: 40px 180px 20px 30px;
  flex: 0 1 auto;

}
.section-5 .container .main-contents .contents .tabs .tabs-wrapper .tabs-contents .tabs-inner-content span{
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
    color: #000; 
}







@media(max-width:1400px){
  .section-5 .container .main-contents .contents .tabs{
    max-width: 120px;
  }
  .section-5 .container .main-contents .contents .tabs.active{
    max-width: 1100px;
  }
.section-5 .container .main-contents .contents{
  padding-right: 20px;
}
}
@media(max-width:1280px){
  .section-5 .container .main-contents .contents .tabs{
    max-width: 90px;
  }
  .section-5 .container .main-contents .contents .tabs.active{
    width: 800px;
  }

.section-5 .container .main-contents .contents .tabs .tabs-contents {
  right: -150px;
}
.section-5 .container .main-contents .contents .tabs{
  max-width: 120px;
  padding-right: 20px;
}
}
@media(max-width: 1024px){
  .section-5 .container .main-contents .contents .tabs.active{
    width: 600px;
  }
  .section-5 .container .main-contents .contents .tabs{
    max-height: 50vh;
  }
  .section-5 .container .main-contents .contents .tabs .tabs-contents {
    right: -120px;
  }
  .section-5 .container .main-contents .contents .tabs .tabs-wrapper .tabs-contents .tabs-inner-content {
    padding: 0px 200px 0px 10px;
  }
} 
@media(max-width: 900px){
.section-5{
  display: none;
}

}