* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif; 
  }
  .header-part{
    position: fixed;
    top: 0;
    left: 0;
    width: 33%;
    z-index: 999;
    height: 100%;
}

.header-part .main-contents{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding: 40px;
    position: relative;
    z-index: 100;
}
.header-part .main-contents a{
    height: 25px;
    position: relative;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    max-height: 100%;
    text-decoration: none;
    cursor: pointer;
}
.header-part .main-contents a{
    max-height: 100%;
    width: auto;
}
.header-part .main-contents a img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.header-part .main-contents .nav-items{
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 48px;
    margin-bottom: 200px;
}
.header-part .main-contents .nav-items ul{
    list-style: none;
}
.header-part .main-contents .nav-items ul li{
    transition: opacity .2s ease-out;
    transition-delay: .1s;
    position: relative;
    margin: 10px 3px;
}
.header-part .main-contents .nav-items ul li a{
    color: white;
    line-height: 1.27778em;
    position: relative;

}
.header-part .main-contents .nav-items ul li a span{
    color: white;
    position: relative;
    font-size: 20px;
    font-weight: 400;
}
.header-part .main-contents .nav-items ul li a span::after{
    
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: -5px;
    width: 1px;
    height: 100%;
    transform-origin: bottom;
    transition: transform .3s cubic-bezier(.25,.46,.35,.94), color .2s ease-out;
    transform: scaleY(0);
    background-color: white;
}
.header-part .main-contents .nav-items ul li a span:hover:after{
    transform: scaleY(1);

}
.header-part .main-contents .header-contents{
    margin-top: 100px;
}
.header-part .main-contents .header-contents p{
    margin-top: 125px;
    font-size: 16px;
    font-weight: lighter;
    line-height: 2em;
}


/* mob  nav*/




.mob-header{
  position: relative;
  z-index: 999;
}
.mob-header .nav-mob{
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7%;
}
.mob-header .nav-mob a{
  height: 18px;
}
.mob-header .nav-mob a img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.mob-header .nav-mob .button-svg{
  stroke-miterlimit: 10;
  transform: rotate(-80deg);
  transition: transform 1.6s;
}
.mob-header .nav-mob .button-svg path{
  stroke-dasharray: 265;
  stroke-dashoffset: 530;
  transition: stroke-dashoffset 1.6s
}
.mob-header .nav-mob button{
  background-color: transparent;
  border: none;
}
.mob-header .nav-mob button:hover .button-svg{
  transform: rotate(80deg) translateZ(0)
}
.mob-header .nav-mob button:hover .button-svg path{
  stroke-dashoffset: 0;
}


.mob-header .nav-contents{
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: calc(100vh - 70px);
  background-color: #fff;
  border-bottom: 1px solid #e3e3e3;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 10;
  opacity: 0;
  /* transform: translateY(-250px); */
  visibility: hidden;
  transition: transform 2s ease-in-out, visibility 0s 2s,

}
.mob-header .nav-contents.active {
  opacity: 1;
  transform: translateY(0px);
  visibility: visible;
  transition: transform 2s ease-in-out, opacity 2s ease-in-out, visibility 0s;
}
.mob-header .nav-contents ul{
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  list-style: none;
}
.mob-header .nav-contents ul li{
  padding: 6px 0px;
  position: relative;
}
.mob-header .nav-contents ul li a{
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  color: black
}
.mob-header .nav-contents ul li svg{
  position: absolute;
  top: 1px;
  right: 0;
  width: 7px;
  height: auto;
  color: black;
  z-index: 9;
  cursor: pointer;
  transform: rotate(0);
  transition: transform .2s ease-out, color .2s ease-out;
}
.mob-header .nav-contents .sub-dropdown {
    
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}
.mob-header .nav-contents .sub-dropdown.active {
  max-height: 500px;
}
.mob-header .nav-contents .sub-dropdown .main-wrapper .sub-menu{
  margin-left: 1px;
  padding-top: 10px;
  padding-left: 5%;
  padding-bottom: 10px;
}



/* section-1 */
  .section-1{
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
  }
  .section-1 .container{
     width: 100%;
     height: 100%;
     position: relative;
  }
  .section-1 .container .carousel{
    height: 100vh;
    position: relative;
  }
  .section-1 .container .carousel .wrapper{

    display: flex;
    width: 100%;
    height: 100%;
    position: relative;

  }
  .section-1 .container .carousel .wrapper .carousel-item{
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    position: relative;
  }
  .section-1 .container .carousel .wrapper .carousel-item .image-container{
    height: 100%;
    width: 100%;
  }
  .section-1 .container .carousel .wrapper .carousel-item .image-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .section-1 .container .description{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    padding: 4.6% 6.6%;
    background-color: rgba(0, 0, 0, .12);
  }
  .section-1 .container .description .heading{
    transform: translateX(50px);
    opacity: 1;
    transition: opacity .6s .6s, transform .8s cubic-bezier(.22,.61,.36,1) .6s;
  }
  .section-1 .container .carousel .wrapper .carousel-item.active .description .heading{
    transform: translateX(0);
    opacity: 1
  }
  .section-1 .container .description .heading h4{
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.20833em;
    font-weight: 400;

  } 
  .section-1 .container .description .heading h4 a{
    text-decoration: none;
    color: white;
  }
  .section-1 .container .description .text{
    margin: 10px 0px;
    transform: translateX(50px);
    opacity: 1;
    transition: opacity .6s .6s, transform .8s cubic-bezier(.22,.61,.36,1) .6s;
  }
  .section-1 .container .carousel .wrapper .carousel-item.active .text{
    transform: translateX(0);
    opacity: 1
  }
  .section-1 .container .description .text a{
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.20833em;
    text-decoration: none;
    color: white;
    padding-left:5px ;
  }
  

  .section-1 .container .description .text span{
    position: relative;
    color: white;
  }
  .section-1 .container .description .text span::after{
    content: '';
    position: absolute;
    height: 15px;
    background-color: white;
    width: 1px;
  }
  .section-1 .container .carousel .carousel-bullets{
    position: absolute !important;
    bottom: 45px;
    left: 38px;
    height: auto;
    width: 10%;
display: flex;
  }
  .section-1 .container .carousel .carousel-bullets span{
    position: relative;
    height: 11px;
    width: 52px;
    padding: 5px;
    background-color: transparent;
    opacity: 1;
    transition: width .2s ease-out;
    cursor: pointer !important;
    margin: 0 5px !important;
    display: flex;
  }
  .section-1 .container .carousel .carousel-bullets span::before{
    content: '';
    position: absolute;
    left: 0;
    height: 1px;
    width: 0;
    top: 5px;
    background-color:white;
    
}
.section-1 .container .carousel .carousel-bullets span::after{
  content: '';
    position: absolute;
    left: 0;
    height: 1px;
    width: 100%;
    top: 5px;
    background-color: white;
    opacity: .5;
} 
.section-1 .container .carousel .carousel-bullets span.active{
  width: 64px;
}
.section-1 .container .carousel .carousel-bullets span.active:before{
  width: 100%;
  transition-duration: 3000ms;
}




/* section-2 */
.section-2{
  background-image: url(./img/h1-img-03.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 160px 0px 33px 0px;
  padding: 0% 5% 0% 5%;
  
}
.section-2 .container{
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  border-bottom: 1px solid #e3e3e3;
  padding-bottom: 60px;
  
}
.section-2 .container .left{
  width: 60%;
  padding-bottom: 100px;
}

.section-2 .container .left .dot-content{
  display: flex;
  align-items: flex-start;
}
.section-2 .container .left .dot-content .dot-container span{
  height: 4px;
  width: 4px;
  border-radius: 50%;
  line-height: 4px;
  display: inline-block;
  background-color: #000;
}
.section-2 .container .left .dot-content .dot-para h6{
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  color: #000;
  font-size: 12px;
  line-height: 1.16667em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .2em;
  margin: 25px 0;
}
.section-2 .container .left .dot-content .dot-para h6 span{
  padding-left: 5px;
}
.section-2 .container .left .main-wrapper .main-contents .contents h2{
  font-family: "DM Sans", sans-serif;
      font-weight: 400;
      color: #000;
      font-size: 43px;
      line-height: 1.2em;
      font-weight: 400;
      margin: 25px 0;
      -ms-word-wrap: break-word;
      word-wrap: break-word;
  } 

.section-2 .container .right{
  width: 40%;
}
.section-2 .container .right .lazy-image{
  width: 100%;
  height: 100%;
}
.section-2 .container .right .lazy-image .wrapper{
  width: 100%;
  height: 100%;
}

.section-2-image-wrapper {
  width: 1px;
  height: 100%;
  overflow: hidden;
  opacity: 0;
}
.section-2-image-wrapper.active{
  width: 100%;
  height: 100%;
  opacity: 1;
  transition:opacity 0s, width 2s;
}
.section-2-image-wrapper-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(./img/h1-img-01.jpg);
}



/* section-3 */
.section-3{
  margin-top: 66px;
    margin-bottom: 140px;
    padding: 0% 5% 0% 5%;
    box-sizing: border-box;
    overflow: hidden;
}
.section-3 .container{
  display: flex;
}
.section-3 .container .link-wrapper{
  width: 33%; 
}
.section-3 .container .link-items .link{
  width: 100%;
}

.section-3 .container .link-items .link h4{

font-family: "DM Sans", sans-serif;
font-weight: 400;
color: #000;
font-size: 24px;
line-height: 1.20833em;
font-weight: 400;
margin-bottom: 20px;
}
.section-3 .container .link-items .link h4 a{
  color: black;

}
.section-3 .container .description-wrapper .contents-main{
  padding-right: 120px;
}
.section-3 .container .description-wrapper h4{
  font-family: "DM Sans", sans-serif;
  color: #000;
  font-size: 24px;
  line-height: 1.20833em;
  font-weight: 400;
}
.section-3 .container .description-wrapper{
  width: 33%;
}
.section-3 .container .description-wrapper p{
  margin: 25px 0 0;
}





/* section-4 */
.section-4{
  padding: 120px 0px 120px 0px;
  background-color: black;
}
.section-4 .container{
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.section-4 .container .main{
  width: 100%;
  box-sizing: border-box;
  display: flex;
  padding: 0% 0% 0% 5.3%;
}
.section-4 .container .main .info-container{
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.section-4 .container .main .wrapper-main{
  width: 75%;
  overflow: hidden;
}
.section-4 .container .main .info-container span{

font-size: 10px;
    line-height: 1.16667em;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-family: "DM Sans", sans-serif;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    color: white;
}
.section-4 .container .main .info-container span:before{
  content: '';
  height: 5px;
  width: 4px;
  background-color: white;
  border-radius: 50%;
  margin-right: 5px;
}
.section-4 .container .main .wrapper-main .wrapper-main{
  overflow: hidden;
}
.section-4 .container .main .wrapper-main .wrapper-2{
  width: 100%;
  display: flex;
  height: 100%;
}

.section-4 .container .main .wrapper-main .wrapper-2 .carousel-item-2{
  width: 100%;
  overflow: hidden;
  height: 100%;
  flex-shrink: 0;
  
}
.section-4 .container .main .wrapper-main .wrapper-2 .carousel-item-2 .image-container{
  width: 100%;
  overflow: hidden;
  height: 100%;
} 

.section-4 .container .main .wrapper-main .wrapper-2 .carousel-item-2 .image-container img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.section-4 .container .main .info-container .bottom{
  position: relative;
}
.section-4 .container .main .info-container .bottom article{
  position: absolute;
 
opacity: 0;
transition: opacity .2s ease-out;
}
.section-4 .container .main .info-container .bottom article.active{
  opacity: 1;
  bottom: 0;
} 


.section-4 .container .main .info-container .bottom article .contents{

box-sizing: border-box;
} 
.section-4 .container .main .info-container .bottom article .contents .heading{
  transform: translateX(-50px);
  opacity: 0;
  transition: opacity .8s, transform 1s cubic-bezier(.22,.61,.36,1);
}
.section-4 .container .main .info-container .bottom article.active .contents .heading{
  transform: translateX(0px);
  opacity: 1;
}
.section-4 .container .main .info-container .bottom article .contents .heading h4{
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  color:white;
  font-size: 24px;
  line-height: 1.20833em;
  font-weight: 400;
}

.section-4 .container .main .info-container .bottom article .contents .sub-heading{
  transform: translateX(50px);
  opacity: 0;
  transition: opacity .8s, transform 1s cubic-bezier(.22,.61,.36,1);
}
.section-4 .container .main .info-container .bottom article.active .contents .sub-heading{
  transform: translateX(0px);
  opacity: 1;
}
.section-4 .container .main .info-container .bottom article .contents .sub-heading a{
  color: white;
  text-decoration: none;
  transition: color .2s ease-out;
  cursor: pointer;
}


/* section-5 */

.section-5{
  margin: 120px 0px 120px 0px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.section-5 .container{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.section-5 .container .separator{
  width: 100%;
  border-bottom: 1px solid #e3e3e3;


}
.section-5 .container .main-contents{
  width: 100%;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  border-bottom: 1px solid #e3e3e3;
  padding: 100px 0px;
}
.section-5 .container .main-contents .contents{
  height: 66vh;
  display: flex;
}
.section-5 .container .main-contents .contents .tabs{
display: flex;
height: 100%;
width: 248px;
overflow: hidden;
position: relative;
transition: .8s ease;
margin-left:10px;
}
.section-5 .container .main-contents .contents .tabs::before{
  content: "";
  display: block;
  width: 29px;
  height: 1px;
  position: absolute;
  right: 23px;
  top: 22px;
  transition: clip-path .35s, opacity .35s, -webkit-clip-path .35s;
 background-color: black;
}
.section-5 .container .main-contents .contents .tabs::after{
  content: "";
  display: block;
  width: 1px;
  height: 11px;
  position: absolute;
  right: 36px;
  top: 17px;
  background-color: #000;
  opacity: 1;
}
.section-5 .container .main-contents .contents .tabs.active:after{
  content: "";
  display: block;
  width: 1px;
  height: 11px;
  position: absolute;
  right: 36px;
  top: 17px;
  background-color: #000;
  opacity: 0;
}

.section-5 .container .main-contents .contents .tabs.active{
  width: 1149px;
}
.section-5 .container .main-contents .contents .tabs .tabs-wrapper{
  width: 901px;
  box-sizing: border-box;
  position: relative;
  height: 100%;
}
.section-5 .container .main-contents .contents .tabs .tabs-wrapper .title{
  display: flex;
  width: 100%;
  max-width: 248px;
  justify-content: flex-start;
  align-items: flex-end;
  border-left: 1px solid #e7e7da;
  height: 100%;
  position: absolute;
  bottom: 0;
  z-index: 50;
  cursor: pointer;
}
.section-5 .container .main-contents .contents .tabs .tabs-wrapper .title:after{
  content: '';
  position: absolute;
  top: 0;
  left: -1px;
  width: 1px;
  height: 100%;
  background-color: #000;
  transition: transform .5s ease-out;
  transform-origin: bottom;
  transform:scaleY(0);
}

.section-5 .container .main-contents .contents .tabs.active .tabs-wrapper .title:after{
  transform:scaleY(1);
}

.section-5 .container .main-contents .contents .tabs .tabs-wrapper .title span{
  font-size: 52px;
    font-weight: 300;
    line-height: 42px;
    font-family: "DM Sans", sans-serif;
    color: #000;
    display: flex;
    transform: rotate(270deg);
    transform-origin: 0 5%;
    white-space: nowrap;
    align-items: center;
    position: relative;
    left: 55px;
    bottom: -45px;
}

.section-5 .container .main-contents .contents .tabs .tabs-contents{
  position: relative;
  height: 100%;
  display: flex;
  justify-content: stretch;
  transition: .8s ease;
  width: 901px;
  right: -248px;
}
.section-5 .container .main-contents .contents .tabs .tabs-wrapper .tabs-contents .tabs-image{
  display: flex;
  max-width: 40%;
  flex: 0 1 auto;
  box-sizing: border-box;
}
.section-5 .container .main-contents .contents .tabs .tabs-wrapper .tabs-contents .tabs-image img{
  height: auto;
    width: fit-content;
}

.section-5 .container .main-contents .contents .tabs .tabs-wrapper .tabs-contents .tabs-inner-content{
  position: relative;
    display: flex;
    max-width: 60%;
    z-index: 10;
    flex-direction: column;
    justify-content: flex-end;
    padding: 40px 180px 20px 30px;
  flex: 0 1 auto;

}
.section-5 .container .main-contents .contents .tabs .tabs-wrapper .tabs-contents .tabs-inner-content span{
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
    color: #000; 
}

.section-6{
  background-image: url(./img/h1-img-02.jpg);
  background-repeat: no-repeat;
    background-size: cover;
    padding: 27% 5% 5% 5%;
    background-color: #E7E7DA;
    position: relative;
    
}

.section-6 .container{
  width: 100%;
  box-sizing: border-box;
}


.section-6 .container .contents{
  padding-bottom: 30px;
  text-align: left;
  max-width: 660px;
}
.section-6 .container .contents h3{
  font-family: "DM Sans", sans-serif;
  font-size: 36px;
  line-height: 1.13889em;
  font-weight: 400;
  color: white;
}

.section-7{
  background-color: #E7E7DA;
  padding: 5% 2.2% 5% 2.2%;
  position: relative;
}

.section-7 .container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.section-7 .container-2{
  position: absolute;
  top: 0;
  right: 0;
  height: 350px;
  width: 21%;
}
.section-7 .container-2 .main{
  background-color: #D9D9CA;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-7 .container .contents{
  width: 40%;
  flex-shrink: 0;
}
.section-7 .container .inner-wrapper{
  display: flex;
}

.section-7 .container .inner-wrapper .image-container{
  width: 1px;
  opacity: 0;
}
.section-7 .container .inner-wrapper .image-container.active{
  width: 50%;
  opacity: 1;
  transition:opacity 0s, width 2s;  
}

.section-7 .container .inner-wrapper .image-container img{
  width: 100%;
  object-fit: cover;
}
.section-7 .container .inner-wrapper .name{
  width: 50%;
  display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 6.2%;
}

.section-7 .container .inner-wrapper .name h4{
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  color: #000;
  font-size: 24px;
  line-height: 1.20833em;
}

.section-8{
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  padding-bottom: 100px;
}
.section-8 .container{
  width: 100%;
  box-sizing: border-box;
  padding: 150px 0px 0px 0px;
}
.section-8 .container .contents{
padding: 0% 12% 0% 12%;
}
.section-8 .container .contents .carousel-wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-duration: 1000ms;
}

.section-8 .container .contents .carousel-wrapper .carousel-contents{
  flex-shrink: 0;
  height: 100%;
  width: 100%;
  transition-property: transform;
}
.section-8 .container .contents .carousel-wrapper .carousel-contents .inner-wrapper{
  padding-bottom: 37px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.section-8 .container .contents .carousel-wrapper .carousel-contents .inner-wrapper .contents{
  box-sizing: border-box;
}
.section-8 .container .contents .carousel-wrapper .carousel-contents .inner-wrapper .contents h4{
  font-family: "DM Sans", sans-serif;
  color: #000;
  font-size: 24px;
  line-height: 1.20833em;
  font-weight: 400;
  margin: 0 0 41px;
}
.section-8 .container .contents .carousel-wrapper .carousel-contents .inner-wrapper .contents h6{
  font-family: "DM Sans", sans-serif;
  color: #000;
  font-size: 12px;
  line-height: 1.16667em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .2em;
}

.section-8 .container .contents .bullets{
  position: relative !important;
  margin-top: 30px;
  bottom: 0 !important;
  height: 11px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-8 .container .contents .bullets span{
  position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 11px;
    width: 32px;
    padding: 5px 0;
    margin: 0 5px !important;
    background-color: transparent;
    opacity: 1;
    transition: width .2s ease-out;
    cursor: pointer;
}
.section-8 .container .contents .bullets span::before{
    content: '';
    position: absolute;
    left: 0;
    height: 1px;
    width: 0;
    top: 5px;
    background-color: #000;
    
}
.section-8 .container .contents .bullets span.active{
  width: 64px;
}
.section-8 .container .contents .bullets span.active:before{
  width: 100%;
  transition-duration: 3000ms;
}
.section-8 .container .contents .bullets span::after{
  content: '';
    position: absolute;
    left: 0;
    height: 1px;
    width: 100%;
    top: 5px;
    background-color: #000;
    opacity: .3
}
.section-9{
  width: 100%;
  overflow: hidden;
  background-color: #ECE8E5;
}
.section-9 .container{
  width: 100%;
  padding: 102px 0px 0px 0px;
  box-sizing: border-box;
  overflow: hidden;
}
.section-9 .container .contents{
  width: 100%;
  padding: 0px 80px 0px 80px;
  overflow: hidden;
}
.section-9 .container .contents .wrapper-main {
  padding: 0 37px;
  margin: 0 0 74px;
  width: 100% !important;
  overflow: hidden;
}
.section-9 .container .contents .wrapper-main .grid-wrapper{
  width: 100%;
  display: flex;
  gap: 10px;
}
.section-9 .container .contents .wrapper-main .grid-wrapper .contents-1{
  width: 50%;
  display: flex;
  gap: 10px;
}

.section-9 .container .contents .wrapper-main .grid-wrapper .grid-items{
  width: 50%;
}
.section-9 .container .contents .wrapper-main .grid-wrapper .grid-items .grid-inner{
  width: 100%;
}

.section-9 .container .contents .wrapper-main .grid-wrapper .grid-items .grid-inner .image-container{
width: 100%;
}
.section-9 .container .contents .wrapper-main .grid-wrapper .grid-items .grid-inner .image-container .image{
  width: 100%;
  overflow: hidden;
}

.section-9 .container .contents .wrapper-main .grid-wrapper .grid-items .grid-inner .image-container .image a{
  display: block;
  width: 100%;
}

.section-9 .container .contents .wrapper-main .grid-wrapper .grid-items .grid-inner .image-container .image a img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translateX(0px);
  transition: transform 0.3s ease-in;
}
.section-9 .container .contents .wrapper-main .grid-wrapper .grid-items:hover .grid-inner .image-container .image a img{
  transform: translateX(5px);
}
.section-9 .container .contents .wrapper-main .grid-wrapper .grid-items .grid-inner .grid-description{
  max-width: 95%;
  padding-top: 10px;

}
.section-9 .container .contents .wrapper-main .grid-wrapper .grid-items .grid-inner .grid-description .text h5{
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  color: #000;
  font-size: 20px;
  line-height: 1.25em;
}
footer{
  width: 100%;
  padding-bottom: 60px;    
}
footer .footer-top{
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 110px;
  padding-bottom: 10px;
  border-top: 1px solid #e3e3e3;
}
footer .footer-top .inner-contents{
  width: 100%;
  display: flex;
  gap: 50px;
}
footer .footer-top .inner-contents .footer-heading{
  width: 50%;
}
footer .footer-top .inner-contents .image-container img{
width: 170px;
height: 66px;
}
footer .footer-top .inner-contents .grid-items{
  width: 16.6%;
}
footer .footer-top .inner-contents .grid-items .heading h6{
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  color: #000;
  font-size: 12px;
  line-height: 1.16667em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .2em;
  margin: 0 0 32px;
}
footer .footer-top .inner-contents .grid-items p{
  margin: 10px 0;
  font-size: 15px;
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.6875em;
  font-weight: 400;
  color: #000;
  margin-top: -5px;
}
footer .footer-top .inner-contents .grid-items p a{
  color: black;
  text-decoration: none;
}
@media(max-width:1400px){
  .section-5 .container .main-contents .contents .tabs{
    max-width: 120px;
  }
  .section-5 .container .main-contents .contents .tabs.active{
    max-width: 1100px;
  }
.section-5 .container .main-contents .contents{
  padding-right: 20px;
}
.section-3 .container .description-wrapper .contents-main {
  padding-right: 60px;
} 
}
@media(max-width:1280px){
  .section-5 .container .main-contents .contents .tabs{
    max-width: 90px;
  }
  .section-5 .container .main-contents .contents .tabs.active{
    width: 800px;
  }

.section-5 .container .main-contents .contents .tabs .tabs-contents {
  right: -150px;
}
.section-5 .container .main-contents .contents .tabs{
  max-width: 120px;
  padding-right: 20px;
}
.section-9 .container .contents .wrapper-main .grid-wrapper .contents-1{
  width: 100%;
}

.section-9 .container .contents .wrapper-main .grid-wrapper .grid-items{
  width: 50%;
}
.section-9 .container .contents .wrapper-main .grid-wrapper{
  flex-wrap: wrap
}
.section-2 .container .left .main-wrapper .main-contents .contents h2 {
  font-size: 35px;
}
.section-2 .container .left {
  width: 50%;
}
.section-2 .container .right {
  width: 50%;
}
.section-3 .container {
  flex-wrap: wrap;
}
.section-3 .container .link-wrapper {
  width: 100%;
  order: 3;
  margin-top: 30px;
}
.section-3 .container .description-wrapper {
  width: 50%;
}

.section-3 .container .link-items .link h4 {
  margin-bottom: 5px;
}
.section-3 .container .description-wrapper .contents-main {
  padding-right: 20PX;
}
.section-3 .container .description-wrapper p{
  font-size: 15px;
  line-height: 1.3em;
  font-weight: 400;
}

}
@media(max-width: 1100px){
  .section-2 .container {
    flex-direction: column-reverse;
  }
  .section-2 .container .right {
    width: 100%;
    height: 90vh;
    padding-bottom: 20px;
  }
  .section-2 .container .left {
    width: 100%;
  }
  
}
@media(max-width: 1024px){
  .section-5 .container .main-contents .contents .tabs.active{
    width: 600px;
  }
  .section-5 .container .main-contents .contents .tabs{
    max-height: 50vh;
  }
  .section-5 .container .main-contents .contents .tabs .tabs-contents {
    right: -120px;
  }
  .section-5 .container .main-contents .contents .tabs .tabs-wrapper .tabs-contents .tabs-inner-content {
    padding: 0px 200px 0px 10px;
  }
 .section-6{
  padding: 27% 7% 7% 7%;
 }
 .section-7 .container {
  flex-direction: column;
  padding: 0px 50px;
 }
 .section-7 .container .contents {
  width: 100%;
 }
 .section-7 .container .contents:nth-child(2) .inner-wrapper {
  flex-direction: row-reverse;
}
.section-7 .container .contents:nth-child(3) .inner-wrapper {
  flex-direction: row-reverse;
}
  
 
 .section-7 .container-2 {
  position: relative;
  width: 100%;
  padding: 0px 50px;
 }
} 
@media(max-width: 900px){
.section-5{
  display: none;
}

}
@media (max-width:800px){
  .section-9 .container .contents .wrapper-main .grid-wrapper .contents-1{
      flex-direction: column;
  }
  .section-9 .container .contents .wrapper-main .grid-wrapper .grid-items{
      width: 100%;
      padding-bottom: 40px;
  }
.section-9 .container .contents{
  padding: 0;
}
.section-9 .container .contents .wrapper-main .grid-wrapper .grid-items .grid-inner .grid-description .text h5{
  font-size: 18px;

}
.section-8 .container .contents {
  padding: 0% 5% 0% 5%;
}
.section-8 .container {
  padding-top: 100px;
}
.section-8 .container .contents .carousel-wrapper .carousel-contents .inner-wrapper .contents h4 {
  font-size: 20px;
}
.section-7 .container-2 {
  height: 200px;
}
}
@media (max-width:769px) {
  .section-1 .container .description{
    height: 90%;
    align-items: flex-start;
  }
  .section-4 .container .contents .wrapper-main .wrapper {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
          "item-1 item-2"
          "item-3 item-4";
  }
  footer .footer-top .inner-contents {
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  footer .footer-top .inner-contents .footer-heading {
      text-align: center;
      width: 100%;
  }
  footer .footer-top .inner-contents .grid-items {
      width: 100%;
      text-align: center;
  }
  .section-2 .container .left .main-wrapper .main-contents .contents h2 {
    font-size: 30px;
  }
  .section-2 .container {
    padding: 0;
  }
  .section-2{
    margin: 60px 0px 0px 0px;
  }
  .section-2 .container .right {
    height: 75vh;
  }
  .section-3 .container .description-wrapper {
    width: 100%;
    padding-bottom: 20px;
  }
  .section-3 {
    margin-bottom: 80px;
  }
  .section-4 .container .main {
    flex-direction: column;
  }
  .section-4 .container .main .info-container {
    width: 50%;
  }
  .section-4 .container .main .info-container .top{
    margin-bottom: 30px;
  }

  .section-4 .container .main .info-container .bottom {
    margin: 40px 0px;
  }
  .section-4 .container .main .info-container .bottom article .contents .heading {
    padding-bottom: 10px;
  }
  .section-4 .container .main .wrapper-main{
    width: 100%;
  }
  .section-6{
    background-position: center;
  }
  .section-7 .container {
    padding: 0px 10px;
  }
  .section-7 .container-2 {
    padding: 0px 10px;
  }
}
@media (max-width:680px) {
  footer .footer-top .inner-contents .footer-heading {
    text-align: left;
    width: 100%;
}
footer .footer-top .inner-contents .grid-items {
    width: 100%;
    text-align: left;
}
footer .footer-top {
    padding-left: 30px;
}
.section-2 .container .left .main-wrapper .main-contents .contents h2 {
  font-size: 21px;
}
.section-2 .container .right {
  height: 55vh;
}
.section-6 .container .contents h3 {
  font-size: 30px;
}
.section-8 .container .contents .carousel-wrapper .carousel-contents .inner-wrapper .contents h4 {
  font-size: 16px;
}
.section-7 .container .inner-wrapper{
  flex-direction: column;
}
.section-7 .container .inner-wrapper .name{
  padding: 50px 0px;
}
.section-7 .container .contents:nth-child(2) .inner-wrapper {
  flex-direction: column;
}
.section-7 .container .contents:nth-child(3) .inner-wrapper {
  flex-direction: column-reverse;
}
.section-7 .container .contents:nth-child(4) .inner-wrapper {
  flex-direction: column-reverse;
}
.section-7 .container .inner-wrapper .image-container {
  width: 1px;
  opacity: 0;
}
.section-7 .container .inner-wrapper .image-container.active{
  width: 100%;
  opacity: 1;
  transition:opacity 0s, width 2s;  
}

}
@media (max-width:480px){
  .section-2 .container .right {
    height: 35vh;
  }
}