* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}
/* header */
.nav .nav-main-container{
  width: 100%;
  padding: 0px 10px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}
.nav-items {
  width: 30%;
}
.nav-list {
  list-style: none;
  display: flex;
}
.nav-items ul li {
  padding: 30px;
  display: inline-block;
}
.nav-items ul li a {
  color: white;
  text-decoration: none;
}
.nav-heading {
  display: flex;
  align-items: center;
  padding-right: 30px;
}
.nav-heading a{
  height: 20px;
}
.nav-heading a img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.circle {
  height: 30px;
  width: 30px;
  border-radius: 100%;
  border: solid 1px white;
  background-color: transparent;
}
.sub-list {
  position: absolute;
  top: 70px;
  box-shadow: 0 20px 45px #00000020;
  display: block;
  flex-direction: column;
  list-style: none;
  width: 200px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease;
  background-color: white;
}
.nav-items ul li:hover .sub-list {
  opacity: 1;
  visibility: visible;
  box-shadow: 0 20px 45px #00000020;
  top: 70px;
  z-index: 11;
}
.nav-items .sub-list a {
  color: black;
}
/* mob nav */
.mob-header{
  position: relative;
  z-index: 999;
}
.mob-header .nav-mob{
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7%;
}
.mob-header .nav-mob a{
  height: 18px;
}
.mob-header .nav-mob a img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.mob-header .nav-mob .button-svg{
  stroke-miterlimit: 10;
  transform: rotate(-80deg);
  transition: transform 1.6s;
}
.mob-header .nav-mob .button-svg path{
  stroke-dasharray: 265;
  stroke-dashoffset: 530;
  transition: stroke-dashoffset 1.6s
}
.mob-header .nav-mob button{
  background-color: transparent;
  border: none;
}
.mob-header .nav-mob button:hover .button-svg{
  transform: rotate(80deg) translateZ(0)
}
.mob-header .nav-mob button:hover .button-svg path{
  stroke-dashoffset: 0;
}


.mob-header .nav-contents{
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: calc(100vh - 70px);
  background-color: #fff;
  border-bottom: 1px solid #e3e3e3;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 10;
  opacity: 0;
  /* transform: translateY(-250px); */
  visibility: hidden;
  transition: transform 2s ease-in-out, visibility 0s 2s,

}
.mob-header .nav-contents.active {
  opacity: 1;
  transform: translateY(0px);
  visibility: visible;
  transition: transform 2s ease-in-out, opacity 2s ease-in-out, visibility 0s;
}
.mob-header .nav-contents ul{
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  list-style: none;
}
.mob-header .nav-contents ul li{
  padding: 6px 0px;
  position: relative;
}
.mob-header .nav-contents ul li a{
  cursor: pointer;
  text-decoration: none;
  font-size: 18px;
  color: black
}
.mob-header .nav-contents ul li svg{
  position: absolute;
  top: 1px;
  right: 0;
  width: 7px;
  height: auto;
  color: black;
  z-index: 9;
  cursor: pointer;
  transform: rotate(0);
  transition: transform .2s ease-out, color .2s ease-out;
}
.mob-header .nav-contents .sub-dropdown {
    
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}
.mob-header .nav-contents .sub-dropdown.active {
  max-height: 500px;
}
.mob-header .nav-contents .sub-dropdown .main-wrapper .sub-menu{
  margin-left: 1px;
  padding-top: 10px;
  padding-left: 5%;
  padding-bottom: 10px;
}




/* secton-1 */
.section-1 {
  width: 100%;
  display: flex;
}
.section-1-left {
  width: 50%;
  position: relative;
}
.section-1-left div {
  position: absolute;
  bottom: 9%;
  left: 7%;
}
.section-1-right div {
  position: absolute;
  bottom: 9%;
  left: 7%;
}
.section-1 a {
  text-decoration: none;
  color: white;
}
.section-1 p {
  font-size: 12px;
  letter-spacing: 3px;
  padding: 5px;
}
.section-1 h2 {
  padding: 5px;
  font-weight: lighter;
  font-size: 36px;
}
.section-1-right {
  width: 50%;
  position: relative;
}
.section-1 div img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}






.section-2 {
  width: 95%;
  height: auto;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 50px;
}
.section-2-contents {
  width: 32%;
  height: 32%;
  overflow: hidden;
}
.section-2-contents img:hover {
  transform: translateX(5px);
}
.section-2-contents img {
  width: 100%;
  height: 100%;
  transform: translateX(0px);
  transition: transform 0.3s ease-in;
}

.section-2-contents h2 {
  font-weight: lighter;
  font-size: 22px;
  padding: 8px 0px;
}
.section-2-contents a {
  text-decoration: none;
  color: black;
}





.section-3 {
  height: 95vh;
  position: relative;
}
.section-3 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: top;
}
.section-3-content {
  width: 30%;
  height: auto;
  text-align: left;
  position: absolute;
  bottom: 10%;
  color: white;
  left: 5%;
}
.section-3-content h2 {
  font-weight: lighter;
  font-size: 34px;
}





.section-4 {
  width: 95%;
  margin: 100px auto;
  height: 80vh;
  display: flex;
}
.section-4-left {
  width: 50%;
}
.section-4-right {
  width: 60%;
  height: 100%;
}
.content-4-left {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.content-4-left a {
  color: black;
}
.content-4-left h2 {
  font-size: 40px;
  font-weight: lighter;
}
.content-4-left p {
  line-height: 25px;
  letter-spacing: 1px;
}
.content-4-left > * {
  padding-top: 40px;
}
.section-4-image-wrapper {
  width: 1px;
  height: 100%;
  overflow: hidden;
  opacity: 0;
}
.section-4-image-wrapper.active {
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 0s, width 2s;
}
.section-4-image-wrapper-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url(./img/h4-img-02.png);
}

hr {
  margin: 40px 0px;
  width: 100%;
  height: 1px;
}



/* footer */
footer{
  width: 100%;
  padding-bottom: 60px;    
}
footer .footer-top{
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 110px;
  padding-bottom: 10px;
  border-top: 1px solid #e3e3e3;
}
footer .footer-top .inner-contents{
  width: 100%;
  display: flex;
  gap: 50px;
}
footer .footer-top .inner-contents .footer-heading{
  width: 50%;
}
footer .footer-top .inner-contents .image-container img{
width: 170px;
height: 66px;
}
footer .footer-top .inner-contents .grid-items{
  width: 16.6%;
}
footer .footer-top .inner-contents .grid-items .heading h6{
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  color: #000;
  font-size: 12px;
  line-height: 1.16667em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .2em;
  margin: 0 0 32px;
}
footer .footer-top .inner-contents .grid-items p{
  margin: 10px 0;
  font-size: 15px;
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.6875em;
  font-weight: 400;
  color: #000;
  margin-top: -5px;
}
footer .footer-top .inner-contents .grid-items p a{
  color: black;
  text-decoration: none;
}

@media (max-width: 1200px) {
  .section-4 {
    flex-direction: column-reverse;
    height: 120vh;
  }
  .section-4-right {
    width: 100%;
    justify-content: center;
  }
  .section-4-left {
    width: 100%;
  }
  .content-4-left {
    width: 100%;
  }
  .section-3-content {
    width: 50%;
  }
  .section-3-content h2 {
    font-weight: lighter;
    font-size: 28px;
  }
  
}
@media(max-width:769px) {

.section-1{
    flex-direction: column;
    margin: 0;
}
.section-1 div{ 
    width: 100%;
    
}
.section-2{
    padding : 20px;
    width: 100%;
}

.section-2 div{
    width: 100%;
}
.left-img-content{
    left: 0px!important;
}
.right-img-content{
    left: 0px!important;
}
.section-3{
    height: 40vh;
}
.section-2-contents a{
    padding: 10px;
}
.section-2-contents h2,p{
    padding: 10px;
}
.section-3 h2{ 
    font-size: 20px;
    
}
.section-3-content{
    width: 80%;
}
.content-4-left{
    text-align: center;
}
.content-4-left > * {
    padding-top: 20px;
}
.content-4-left h2 {
    font-size: 25px;
    font-weight: lighter;
}
.content-4-left p {
    font-size: 18px;
}
.section-4{
    margin: 20px
}
footer .footer-top .inner-contents {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer .footer-top .inner-contents .footer-heading {
  text-align: center;
  width: 100%;
}
footer .footer-top .inner-contents .grid-items {
  width: 100%;
  text-align: center;
}
}
@media(max-width:640px) {
    .section-2{
        flex-direction: column;
        padding: 0px;
        margin: 20px 0px;
    }
    .content-4-left h2 {
        font-size: 20px;
        font-weight: lighter;
    }
    .content-4-left p {
        font-size: 10px;
        line-height: 15px;
    }
    
    .section-4{
        margin: 10px 0px;
        width: 100%;
    }
    footer .footer-top .inner-contents .footer-heading {
      text-align: left;
      width: 100%;
  }
  footer .footer-top .inner-contents .grid-items {
      width: 100%;
      text-align: left;
  }
  footer .footer-top {
      padding-left: 30px;
  }
}